:root {
	--x: 1;
	--y: 5;
	--b: 6;
	--col-z: berry;
}

html {
	background: var(--col-z);
}

.add {
	color: white;
	background-color: rgb (var(--y) , 4 , var(--b) );
}

#ad {
	color: rgb (var(--x) , 4 , 5 );
}

.test ul li a {
	color: var(--col-z);
	border: 0px;
	border-radius: 5px;
	padding: 10px 20px;
}

button {
	border: 0px;
	border-radius: 5px;
	background-color: red;
	padding: 10px 20px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: var(--col-z);
}

